.cli-window {
  width: 100%;
  height: 100%;
  background-color: #212121;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;

  div[name="react-console.emulator"] {
    flex: 1;
    width: 100%;
    height: 100%;
    background-color: transparent !important;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgb(71, 71, 71);
    border-radius: 4px;
  }
}
