.cards {
  padding: 1rem;
  overflow-y: visible;
  margin-bottom: 5rem;

  color: rgb(245, 245, 245);

  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  justify-content: center;

  .card {
    flex-grow: 1;
    flex-basis: 25rem;
    max-width: 100rem;
    background-color: rgb(44, 44, 44);
    padding: 1rem;
    border-radius: 1rem;


    img {
      aspect-ratio: 16 / 9;
      object-fit: cover;
      border-radius: 1rem;
    }

    h2 {
      font-size: 1.2rem;
      font-weight: 500;
    }

    p.description {
      opacity: 70%;
      word-spacing: 0.4rem;
      line-height: 1.3;
    }

    .tags {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      padding-block: 1rem;
      .tag {
        background-color: rgb(39, 77, 77);
        width: fit-content;
        padding: 5px 14px;
        border-radius: 50px;
        white-space: nowrap;
      }
    }

    .urls {
      display: flex;
      gap: 1rem;

      a {
        color: white;
      }
    }
  }
}
