.resume-window {
  height: 100%;
  overflow-y: auto;
  position: relative;

  embed {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
  }
}
