.spotify-window {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #1F1F1F;

  iframe {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  * {
    border-radius: 0 !important;
  }
}

