.window {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: black;
  border-radius: 15px;
  color: whitesmoke;
  overflow-y: auto;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.346);
  cursor: default;

  .nav {
    padding: 0.5rem 0.7rem;
    background-color: #5656565e;
    border-bottom: 1px solid rgba(128, 128, 128, 0.439);
    display: flex;
    align-items: end;
    gap: 1.4rem;

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        img {
          width: 100%;
          height: 100%;
          opacity: 0;
          transition: opacity 0.2s linear;
          pointer-events: none;
        }
      }

      .red {
        background-color: #ff6058;
      }

      .yellow {
        background-color: #ffbf30;
      }

      .green {
        background-color: #27cc3d;
        padding: 3px;
      }
    }

    .dots:hover .dot img {
      opacity: 1;
    }

    .title {
      p {
        color: gray;
        font-weight: 500;
      }
    }
  }

  .main-content {
    flex: 1;
    overflow-y: auto;
    height: 100%;
    // scrollbar-width: none;
  }

  *::-webkit-scrollbar{
    width: 8px;
  }

  *::-webkit-scrollbar-thumb{
    background-color: rgb(37, 37, 37);
    border-radius: 4px;
  }
}

.window:active {
  cursor: move;
}

.full-screen{
  width: 100vw !important;
  height: 100vh !important;
  transform: translate(0, 0) !important;
  
  .window{
    border-radius: 0;
  }
}
