.dock {
  display: flex;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  z-index: 10;
  transform: translateX(-50%);
  backdrop-filter: blur(12px);
  padding: 3px 10px;
  background-color: rgba(255, 255, 255, 0.046);
  border-radius: 20px;
  border: 0.4px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.2);
  box-shadow: inset 0px 4px 8px 0px rgba(244, 244, 254, 0.25);

  .iconBox {
    padding-inline: 10px;
    width: 58px;
    height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .icon {
      width: 40px;
      height: 40px;
      background-color: gray;
      padding: 9px;
      border-radius: 23%;
      transition:
        transform 260ms cubic-bezier(0.22, 0.96, 0.7, 1.39),
        filter 180ms cubic-bezier(0.22, 0.61, 0.36, 1);
      transform-origin: bottom;
      position: relative;
      transform: translateZ(0);
      will-change: transform;
    }

    .github {
      background: linear-gradient(to bottom, rgb(24, 24, 24), rgb(0, 0, 0));
    }

    .note {
      background: linear-gradient(
        to bottom,
        rgb(255, 217, 63),
        rgb(209, 164, 2)
      );
      padding: 7px;
    }

    .pdf {
      background: linear-gradient(to bottom, rgb(255, 77, 77), rgb(165, 5, 5));
    }

    .calender {
      background: linear-gradient(
        to bottom,
        rgb(154, 62, 219),
        rgb(99, 33, 146)
      );
    }

    .spotify {
      background: linear-gradient(
        to bottom,
        rgb(223, 255, 223),
        rgb(195, 255, 195)
      );
    }

    .mail {
      background: linear-gradient(
        to bottom,
        rgb(47, 151, 255),
        rgb(0, 115, 255)
      );
    }

    .link {
      background: linear-gradient(
        to bottom,
        rgb(205, 96, 255),
        rgb(174, 0, 255)
      );
    }

    .cli {
      background: linear-gradient(to bottom, rgb(37, 37, 37), rgb(0, 0, 0));
    }
  }

  .iconBox:hover .icon {
    transform: scale(1.5) translateY(-40%);
  }

  .iconBox:hover + .iconBox .icon,
  .iconBox:has(+ .iconBox:hover) .icon {
    transform: scale(1.15) translateY(-25%);
  }

  .iconBox:hover + .iconBox + .iconBox .icon,
  .iconBox:has(+ .iconBox + .iconBox:hover) .icon {
    transform: scale(1.1) translateY(-15%);
  }
}
