nav {
  position: absolute;
  z-index: 10;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.75rem;
  background-color: rgba(255, 255, 255, 0.237);
  backdrop-filter: blur(30px);
  border: 0.4px solid oklab(0.999994 0.0000455678 0.0000200868 / 0.2);
  box-shadow: rgba(244, 244, 254, 0.25) 0px 4px 8px 0px inset;

  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  color: white;
  user-select: none;

  .left {
    display: flex;
    gap: 1rem;

    .apple-icon img {
      width: 20px;
    }

    .nav-item.first p {
      font-weight: 600;
    }

    .terminal-btn {
      cursor: pointer;
      user-select: none;
      transition: all 0.2s ease;
    }

    .terminal-btn:hover {
      color: #303030;
      font-weight: 600;
    }
  }

  .right {
    display: flex;
    gap: 1rem;
    .wifi-icon img {
      width: 20px;
    }
  }
}
