* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  min-height: 100%;
  background-image: url("/public/macOs-wallpaper4.jpg");
  background-size: cover;
  background-position: center;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;

    position: relative;
    overflow: hidden;
}
